html {
  font-size: 14px;
}

@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
}
img {
  max-width: 100%;
}

a:hover, a:focus, a:visited {
  outline: none !important;
}

a {
  text-decoration: none !important;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 14px;
}

/* Buzz Out */
@-webkit-keyframes buzz {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes buzz {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.buzz {
  display: block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.buzz:hover, .buzz:focus, .buzz:active {
  -webkit-animation-name: buzz;
  animation-name: buzz;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.animation {
  visibility: hidden;
  position: relative;
  animation-fill-mode: forwards;
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.slideLeft {
  animation-name: slideLeft;
  visibility: visible;
  animation-duration: 1s;
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.slideRight {
  animation-name: slideRight;
  visibility: visible;
  animation-duration: 1s;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.slideUp {
  animation-name: slideUp;
  visibility: visible;
  animation-duration: 1s;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.slideDown {
  animation-name: slideDown;
  visibility: visible;
  animation-duration: 1s;
}

@keyframes infinityDown {
  0% {
    top: 0px;
  }
  25% {
    top: 15px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: 15px;
  }
  100% {
    top: 0px;
  }
}
@-webkit-keyframes infinityDown {
  0% {
    top: 0px;
  }
  25% {
    top: 15px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: 15px;
  }
  100% {
    top: 0px;
  }
}
.infinity-down {
  animation-name: infinityDown;
  visibility: visible;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  position: relative;
  transition-timing-function: linear;
}

.zoom {
  animation-name: zoom;
  visibility: visible;
  animation-duration: 2s;
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes zoom {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.form-control-success,
.form-control-warning,
.form-control-danger {
  padding-right: 2.25rem;
  background-repeat: no-repeat;
  background-position: center right 0.5625rem;
  -webkit-background-size: 1.125rem 1.125rem;
  background-size: 1.125rem 1.125rem;
}

.has-success .form-control-feedback,
.has-success .form-control-label,
.has-success .col-form-label,
.has-success .form-check-label,
.has-success .custom-control {
  color: #7ED321;
}

.has-success .form-control {
  border-color: #7ED321;
}

.has-success .input-group-addon {
  color: #7ED321;
  border-color: #7ED321;
  background-color: #eaf6ea;
}

.has-success .form-control-success {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
}

.has-warning .form-control-feedback,
.has-warning .form-control-label,
.has-warning .col-form-label,
.has-warning .form-check-label,
.has-warning .custom-control {
  color: #ffc107;
}

.has-warning .form-control {
  border-color: #ffc107;
}

.has-warning .input-group-addon {
  color: #ffc107;
  border-color: #ffc107;
  background-color: white;
}

.has-warning .form-control-warning {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23f0ad4e' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E");
}

.has-danger .form-control-feedback,
.has-danger .form-control-label,
.has-danger .col-form-label,
.has-danger .form-check-label,
.has-danger .custom-control {
  color: #dc3545;
}

.has-danger .form-control {
  border-color: #dc3545;
}

.has-danger .input-group-addon {
  color: #dc3545;
  border-color: #dc3545;
  background-color: #fdf7f7;
}

.has-danger .form-control-danger {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");
  background-position: 95% 10px;
}

.error-msg > * {
  color: #dc3545;
}

@font-face {
  font-family: 'SFProText-Bold';
  src: url("fonts/SF Pro Text/SFProText-Bold/SFProText-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/SF Pro Text/SFProText-Bold/SFProText-Bold.woff") format("woff"), url("fonts/SF Pro Text/SFProText-Bold/SFProText-Bold.ttf") format("truetype"), url("fonts/SF Pro Text/SFProText-Bold/SFProText-Bold.svg#SFProText-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SFProText-Light';
  src: url("fonts/SF Pro Text/SFProText-Light/SFProText-Light.eot?#iefix") format("embedded-opentype"), url("fonts/SF Pro Text/SFProText-Light/SFProText-Light.woff") format("woff"), url("fonts/SF Pro Text/SFProText-Light/SFProText-Light.ttf") format("truetype"), url("fonts/SF Pro Text/SFProText-Light/SFProText-Light.svg#SFProText-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SFProText-Medium';
  src: url("fonts/SF Pro Text/SFProText-Medium/SFProText-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/SF Pro Text/SFProText-Medium/SFProText-Medium.woff") format("woff"), url("fonts/SF Pro Text/SFProText-Medium/SFProText-Medium.ttf") format("truetype"), url("fonts/SF Pro Text/SFProText-Medium/SFProText-Medium.svg#SFProText-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SFProText-Regular';
  src: url("fonts/SF Pro Text/SFProText-Regular/SFProText-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/SF Pro Text/SFProText-Regular/SFProText-Regular.woff") format("woff"), url("fonts/SF Pro Text/SFProText-Regular/SFProText-Regular.ttf") format("truetype"), url("fonts/SF Pro Text/SFProText-Regular/SFProText-Regular.svg#SFProText-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Times-Bold';
  src: url("fonts/Times/Times Bold/Times-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Times/Times Bold/Times-Bold.woff") format("woff"), url("fonts/Times/Times Bold/Times-Bold.ttf") format("truetype"), url("fonts/Times/Times Bold/Times-Bold.svg#Times-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Times';
  src: url("fonts/Times/Times Regular/Times.eot?#iefix") format("embedded-opentype"), url("fonts/Times/Times Regular/Times.woff") format("woff"), url("fonts/Times/Times Regular/Times.ttf") format("truetype"), url("fonts/Times/Times Regular/Times.svg#Times") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*GENERAL FONT*/
body {
  font-family: 'SFProText-Regular', sans-serif;
}

h2 {
  font-family: 'SFProText-Bold';
  font-weight: normal;
  font-size: 36px;
}

h3 {
  font-family: 'SFProText-Light';
  font-weight: normal;
  font-size: 30px;
}

h4 {
  font-family: 'SFProText-Bold';
  font-weight: normal;
  font-size: 24px;
}

h5 {
  font-family: 'SFProText-Bold';
  font-weight: normal;
  font-size: 20px;
}

header {
  background-position: center;
  background-repeat: none;
  background-size: cover;
}
@media (min-width: 992px) {
  header {
    display: block;
  }
}

.navbar-dark {
  font-size: 14px;
}
.navbar-dark .navbar-nav .nav-item {
  position: relative;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  transition: 0.3s ease;
  position: relative;
}
.navbar-dark .navbar-toggler {
  border-color: #fff;
  padding: 8px;
  overflow: hidden;
}
.navbar-dark .navbar-toggler.active span:nth-of-type(2) {
  transform: translateX(-100px);
  opacity: 0;
}
.navbar-dark .navbar-toggler.active span:first-of-type {
  transform: rotate(45deg) translate(5px, 5px);
}
.navbar-dark .navbar-toggler.active span:last-of-type {
  transform: rotate(-45deg) translate(5px, -5px);
}
.navbar-dark .navbar-toggler span {
  display: block;
  height: 2px;
  width: 25px;
  margin-bottom: 5px;
  background: #fff;
  transition: 0.4s linear;
}
.navbar-dark .navbar-toggler span:last-of-type {
  margin-bottom: 0;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247, 204, 75, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-dark .submenu {
  background: #fff;
  display: none;
  z-index: 7;
  text-align: left;
}
.navbar-dark .submenu li a {
  display: block;
  padding: 5px;
  color: #454F5A;
  position: relative;
}
.navbar-dark .submenu li a:hover {
  text-decoration: none;
}

.lead-navigation {
  margin-bottom: 16px;
}
.lead-navigation .form-control {
  display: block;
  width: 100%;
  color: #0079BE;
  background-color: #fff;
  border: 1px solid #fff;
}
.lead-navigation .search-site-form {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  transform: translateX(-70px);
}
.lead-navigation .input-group-text {
  display: flex;
  color: #fff;
  background-color: #0079BE;
  border-color: transparent;
}
.lead-navigation .mobile-search {
  margin-right: 10px;
  line-height: 1;
  font-size: 2rem;
}
.lead-navigation .mobile-search form {
  display: none;
  top: 100%;
  left: 0;
  width: 100% !important;
  z-index: 10;
  transform: translateX(0) !important;
  background: #fff;
}

@media (min-width: 992px) {
  .lead-navigation .mobile-search {
    display: none !important;
  }
  .lead-navigation .navbar-nav {
    width: 100%;
  }
  .lead-navigation .navbar-nav .nav-item:last-of-type .submenu {
    position: absolute;
    min-width: 150px;
    left: auto;
    right: 0;
    top: 100%;
  }
  .lead-navigation .submenu {
    position: absolute;
    min-width: 150px;
    left: 0;
    top: 100%;
  }
  .lead-navigation .nav-item:hover .submenu {
    display: block;
  }
  .lead-navigation .nav-link {
    padding: 0.5rem 0;
  }
}
@media (min-width: 1350px) {
  .lead-navigation .navbar-nav {
    font-size: 16px;
  }
  .lead-navigation .submenu {
    min-width: 250px;
  }
}
.lead-slider-wrapper {
  margin-bottom: 16px;
}
.lead-slider-wrapper .home {
  height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.lead-slider-wrapper .lead-slider .owl-dots {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px;
  margin-top: 0;
}
.lead-slider-wrapper .lead-slider p {
  color: #fff;
}
.lead-slider-wrapper .lead-slider-caption {
  bottom: 0;
  right: 0;
  padding: 0 15px;
}
.lead-slider-wrapper .lead-slider-caption .lead-slider-date {
  color: #4A90E2;
}
.lead-slider-wrapper .owl-carousel h2 {
  font-size: 24px;
}
.lead-slider-wrapper .owl-carousel .owl-nav {
  margin-top: 0;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  bottom: 0;
}
.lead-slider-wrapper .owl-carousel .owl-dots .owl-dot.active span, .lead-slider-wrapper .owl-carousel .owl-dots .owl-dot:hover span {
  background: #4A90E2 !important;
  border: 1px solid #4A90E2 !important;
}
.lead-slider-wrapper .owl-carousel .owl-dots .owl-dot span {
  background: transparent;
  border: 1px solid #75859B;
  width: 8px;
  height: 8px;
  border-radius: 24px;
}

.lead-aside {
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  min-height: 250px;
}
.lead-aside .aside-description p {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .owl-carousel h2 {
    font-size: 36px;
  }
  .owl-carousel .lead-slider-date {
    margin-bottom: 0;
  }
}
.three-piece {
  font-size: 14px;
}
.three-piece article {
  padding: 15px;
}
.three-piece article figure {
  margin: 0 0 0;
}
.three-piece article .media {
  margin-bottom: 5px;
}
.three-piece h4 {
  color: #454F5A;
  font-size: 16px;
}
.three-piece h5 {
  font-size: 14px;
}
.three-piece p {
  margin-bottom: 0.5rem;
}
@media (min-width: 576px) {
  .three-piece h4 {
    font-size: 18px !important;
  }
  .three-piece h5 {
    font-size: 16px !important;
  }
}
@media (min-width: 768px) {
  .three-piece h4 {
    font-size: 20px !important;
  }
  .three-piece h5 {
    font-size: 18px !important;
  }
}
@media (min-width: 1350px) {
  .three-piece h4 {
    font-size: 24px;
  }
  .three-piece h5 {
    font-size: 20px;
  }
  .three-piece p {
    margin-bottom: 1rem;
  }
}

.look-read-listen h5 {
  font-size: 16px;
}
.look-read-listen figure {
  margin-bottom: 0 !important;
}
.look-read-listen figure img {
  position: relative !important;
}
.look-read-listen .video-item figure:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background: url("assets/play-button.png") no-repeat center;
  z-index: 6;
}
.look-read-listen .look-slider-wrapper .owl-carousel .owl-nav,
.look-read-listen .read-slider-wrapper .owl-carousel .owl-nav,
.look-read-listen .listen-slider-wrapper .owl-carousel .owl-nav {
  position: absolute;
  top: -54px;
  right: 10px;
}
.look-read-listen .look-slider-wrapper h4,
.look-read-listen .read-slider-wrapper h4,
.look-read-listen .listen-slider-wrapper h4 {
  font-size: 14px;
  line-height: 1.5rem;
  overflow: hidden;
  height: 2.7rem;
  margin-bottom: 0;
}
.look-read-listen .look-slider {
  margin-bottom: 0;
}

aside.aside-content {
  font-size: 14px;
}
aside.aside-content .aside-news-tab {
  border-bottom: none;
}
aside.aside-content .aside-news-tab a.nav-link {
  background: #fff;
  color: #454F5A;
  border-color: transparent;
}
aside.aside-content .aside-news-tab a.nav-link.active {
  color: #4A90E2;
}
aside.aside-content .aside-projects-wrapper h5 {
  color: #454F5A;
}
aside.aside-content .media {
  border-bottom: 1px solid #f8f9fa;
}

@media (min-width: 576px) {
  .look-read-listen h4 {
    font-size: 16px !important;
    height: 2rem;
  }
}
@media (min-width: 768px) {
  .look-read-listen h4 {
    font-size: 18px !important;
  }
}
@media (min-width: 992px) {
  .look-read-listen h5 {
    font-size: 16px !important;
  }

  .aside-content .aside-news-tab a.nav-link {
    font-size: 12px;
    padding: 1rem 0.7rem;
  }
}
@media (min-width: 1350px) {
  .look-read-listen h4 {
    font-size: 24px !important;
  }
}
.spiritual h2 {
  font-size: 24px;
  line-height: 100%;
}
.spiritual .spiritual-description {
  left: 25px;
  bottom: 15px;
}

aside .spiritual-description {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
}
aside h2 {
  font-family: 'Times-Bold';
  font-weight: bold;
}

@media (min-width: 992px) {
  .spiritual h2 {
    font-size: 30px;
  }
}
@media (min-width: 1350px) {
  .spiritual h2 {
    font-size: 36px;
  }
}
.youtube-header {
  background: #E1E8F0 !important;
}
.youtube-header h5 {
  color: #454F5A;
}

/*# sourceMappingURL=theme.css.map */
