
footer{    

    .films-column{
        line-height: 1;
        .films-comment{
            font-size: 11px;                       
        }
    }

    .films-title{
        font-size: 14px;
    }
    .more-column{

        li{
            text-align: center;
            margin-bottom: 10px;
        }

    }
    .small-social{       
            a{
                span{
                    opacity:0.6;
                }            
            }        

    }

    .copyright{
        opacity:0.6;
        border-top: 0.5px solid $gray-100;
    }
}



@media(min-width: 576px){
    footer{

    }
}

@media(min-width: 768px){
    footer{
        .more-column{
            li{
                text-align: left;
            }

        }
    }
}

@media(min-width: 992px){
    footer{

    }
}

@media(min-width: 1350px){
    footer{
        .films-title{
            font-size: 15px;
        }
    }
}

