$lead-nav-bg: $primary;
$lead-nav-font: $white;
$submenu-font: #454F5A;
$submenu-font-active: #57ACFA;


.navbar-dark{
    font-size: 14px;
    .navbar-nav{

        .nav-item{
            position: relative;
        }
        .nav-link{
            color: $lead-nav-font;
            transition: 0.3s ease;
            position: relative;

        }


    }
    //****NAVBAR TOGGLER****

    .navbar-toggler{
        border-color: $lead-nav-font;
        padding: 8px;
        overflow: hidden;

        &.active span:nth-of-type(2){
            transform: translateX(-100px);
            opacity: 0;
        }

        &.active span:first-of-type{
            transform: rotate(45deg) translate(5px, 5px);

        }

        &.active span:last-of-type{
            transform: rotate(-45deg) translate(5px,-5px);
        }

        span{
            display: block;
            height: 2px;
            width: 25px;
            margin-bottom: 5px;
            background: $lead-nav-font;
            transition: 0.4s linear;

            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247, 204, 75, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
    //****NAVBAR SUBMENU****

    .submenu{
        background: $lead-nav-font;
        display: none;
        z-index: 7;
        text-align: left;
        li{
            a{
                display: block;
                padding: 5px;
                color: $submenu-font;
                position: relative;

                &:hover{
                    text-decoration: none;
                }
            }
        }

    }

}
//****NAVIGATION FORM****

.lead-navigation{
    margin-bottom: 16px;

    .form-control {
        display: block;
        width: 100%;
        color: $lead-nav-bg;
        background-color: $lead-nav-font;
        border: 1px solid $lead-nav-font;               

    }
    .search-site-form{
        position: absolute;
        top: 0;
        right: 0;
        width: 150px;
        transform: translateX(-70px);

    }
    .input-group-text {
        display: flex;
        color: $lead-nav-font;
        background-color: $primary;
        border-color: transparent;
    }


    .mobile-search{
        margin-right: 10px;
        line-height: 1;
        font-size: 2rem;
        form{
            display: none;
            top: 100%;
            left: 0;
            width: 100% !important;
            z-index: 10;
            transform: translateX(0) !important;
            background: $lead-nav-font;

        }
    }


}

@media(min-width: 992px){
    .lead-navigation{

        .mobile-search{
            display: none !important;
        }
        .navbar-nav{
            width: 100%;
            .nav-item:last-of-type{
                .submenu{
                    position: absolute;
                    min-width: 150px;
                    left: auto;
                    right: 0;
                    top:100%;
                }               
            }
        }
        .submenu{
            position: absolute;
            min-width: 150px;
            left: 0;
            top:100%;

        }
        .nav-item{

            &:hover{
                .submenu{
                    display: block;
                }
            }
        }
        .nav-link{
            padding: 0.5rem 0;
        }
    }
}


@media(min-width: 1350px){
    .lead-navigation{
        .navbar-nav{
            font-size: 16px;
        }
        .submenu{
            min-width: 250px;
        }
    }


}






















