$lead-nav-bg: $primary;
$lead-nav-font: $white;
$submenu-font: #454F5A;
$submenu-font-active: #57ACFA;


.navbar-dark{
    font-size: 14px;
    .navbar-nav{
        .nav-item{
            position: relative;


        }
        .nav-link{
            color: $lead-nav-font;
            transition: 0.3s ease;
            position: relative;

            &:active{
                font-weight: bold;
            }
        }
        @media(min-width: 1200px){
            font-size: 16px;
            width: 100;
        }

    }
    //****NAVBAR TOGGLER****

    .navbar-toggler{
        border-color: $lead-nav-font;
        padding: 8px;
        overflow: hidden;

        &.active span:nth-of-type(2){
            transform: translateX(-100px);
            opacity: 0;
        }

        &.active span:first-of-type{
            transform: rotate(45deg) translate(5px, 5px);

        }

        &.active span:last-of-type{
            transform: rotate(-45deg) translate(5px,-5px);
        }

        span{
            display: block;
            height: 2px;
            width: 25px;
            margin-bottom: 5px;
            background: $lead-nav-font;
            transition: 0.4s linear;

            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247, 204, 75, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
    //****NAVBAR SUBMENU****

    .submenu{
        background: $lead-nav-font;
        display: none;
        z-index: 7;
        li{
            a{
                display: block;
                padding: 5px;
                color: $submenu-font;
                position: relative;

                &.active{
                    color: $submenu-font-active !important;
                }

                &:hover{
                    text-decoration: none;
                }
            }
        }
        @media(min-width: 992px){

            position: absolute;
            min-width: 150px;
            left: 0;
            top:100%;

        }
    }



}
//****NAVIGATION FORM****

.lead-navigation{
    margin: 16px 0;

    .form-control {
        display: block;
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: $lead-nav-bg;
        background-color: $lead-nav-font;
        background-clip: padding-box;
        border: 1px solid $lead-nav-font;               
        transition: border-color 0.15s ease-in-out, 0.15s ease-in-out;
    }
    .search-site-form{
        position: absolute;
        top: 0;
        right: 0;
        width: 150px;
        transform: translateX(-70px);

    }
    .input-group-text {
        display: flex;
        align-items: center;
        padding: 0.375rem 0.75rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: $lead-nav-font;
        text-align: center;
        white-space: nowrap;
        background-color: $primary;
        border-color: transparent;
    }



}
























