

.look-reed-listen{
    
    figure{
        height: 225px;
        margin-bottom: 0 !important;
        img{
            position: relative !important;
        }
        .image-after:after{
            content: '';
            position: absolute;
            height: 60px;
            width: 60px;
            top: 0;
            right: 0;
            background-image: url('assets/play-button.png');
            background-size: 100% 100%;
            z-index: 6;
        }

    }
    .look-slider{
        margin-bottom: 0;
    }
}
.look-slider-wrapper{
    .owl-carousel{
        .owl-nav{
            position: absolute;
            top: -54px;
            right: 10px;
        }
    }
    h4{
        font-size: 14px;
        line-height: 1.5rem;
        overflow: hidden;
        height: 2.7rem;
        margin-bottom: 0;
    }

    .look-slider-caption{
        position: absolute;
        bottom: 0;
        left: 0;
    }

}

@media(min-width: 576px){
    .look-reed-listen{
        h4{
            font-size: 16px !important;
            height: 2rem;
        }
        figure{
            height: 265px !important;
            
        }  
    }

}

@media(min-width: 768px){
    .look-reed-listen{
        h4{
            font-size: 20px !important;
        }
        figure{
            height: 285px !important;
        }  
    }
}

@media(min-width: 992px){
    .look-reed-listen{
        h4{
            font-size: 24px !important;
        }
    }


}