$aside-news-tab: #454F5A;
$aside-projects-title: #454F5A;

.look-read-listen{
    h5{
        font-size: 16px;
    }
    figure{
        //height: 225px;
        margin-bottom: 0 !important;
        img{
            position: relative !important;
        }
        .image-after:after{
            content: '';
            position: absolute;
            height: 60px;
            width: 60px;
            top: 0;
            right: 0;
            background-image: url('assets/play-button.png');
            background-size: 100% 100%;
            z-index: 6;
        }

    }    
    .look-slider-wrapper,
    .read-slider-wrapper,
    .listen-slider-wrapper{
        .owl-carousel{
            .owl-nav{
                position: absolute;
                top: -54px;
                right: 10px;
            }
        }
        h4{
            font-size: 14px;
            line-height: 1.5rem;
            overflow: hidden;
            height: 2.7rem;
            margin-bottom: 0;
        }

    }
    .look-slider{
        margin-bottom: 0;
    }

    aside{
        font-size: 14px;
        .aside-news-tab{
            border-bottom: none;
            a.nav-link{
                background: $white;
                color: $aside-news-tab;
                border-color: transparent;
                &.active{
                    color: $indigo;
                }
            }
        }
        .aside-projects-wrapper{
            h5{
                color: $aside-projects-title;
            }
        }
        .media{
            border-bottom: 1px solid $gray-100;
        }

    }

}


@media(min-width: 576px){
    .look-read-listen{
        h4{
            font-size: 16px !important;
            height: 2rem;
        }

    }

}

@media(min-width: 768px){
    .look-read-listen{
        h4{
            font-size: 18px !important;
        }         
    }
}

@media(min-width: 992px){
    .look-read-listen{
        h5{
            font-size: 16px !important;
        }
        .aside-news-tab{
            a.nav-link{
                font-size: 12px;
                padding: 1rem 0.7rem;

            }
        }
    }


}

@media(min-width: 1350px){
    .look-read-listen{
        h4{
            font-size: 24px !important;
        }

    }


}